<div class="w-screen h-screen flex justify-center items-center">
    <!-- side bar -->
     <div class="side-bar w-1/6 min-w-32 h-full border-2">
        side bar
     </div>
     <div class="main-app w-5/6 h-full flex flex-col justify-center items-center">
        <!-- top bar -->
        <div class="w-full h-1/6 border-2">
            top bar
        </div>
        <!-- main app -->
        <div class="container  w-full h-full">
            <router-outlet></router-outlet>
        </div>
     </div>
     <!-- main  -->

</div>